#!/bin/bash
PWD=`pwd`
cd $PWD
find -L $PWD \
	-path "$PWD/arch/*" ! -path "$PWD/arch/mips*" -prune -o               \
	-path "$PWD/include/asm-*" ! -path "$PWD/include/asm-generic*" -prune -o \
	-path "$PWD/tmp*" -prune -o                                           \
	-path "$PWD/Documentation*" -prune -o                                 \
	-path "$PWD/scripts*" -prune -o                                       \
 	-name "*.[chxsS]" -print > $PWD/cscope.files

ctags -L cscope.files
cscope -Rkbq
